body {
    background: rgb(245, 234, 255);
}

.colorBorde {
    background: #DFCEDF;
}

.colorCheck {
    background: #AA87A9;
}

.showinfo {
    display: block !important;
}

.navColor{
    background-color: black;
    padding: 20px;
}

